{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="page-header">Livros Cadastrados</h1>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
        
            <th>ID</th>
            <td>Livro</th>
            <th>Autor</th>
            <th>Editora</th>
            <th>Cidade</th>
            <th>Excluir</th>
          </tr>
        </thead>
        {% for livro in livro %}
        <tr>
            <td>{{ livro.id }}</td>
            <td>{{ livro.livro }}</td>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.editora }}</td>
            <td>{{ livro.cidade }}</td>
            <td><a href="/excluir/{{ livro.id }}">X</a></td>
        </tr>
        
        {% endfor %}
      </table>
      <button><a href="{{ url_for('cadastrar_livros') }}">Cadastrar Livros</a></button>
      </div>
  </div>
  

    {% endblock %}